{% extends 'base.html' %}

{%block content%}

<!-- JavaScript alert if success message exists -->
{% if messages %}
        
{% for message in messages %}
    <div class="alert alert-success mt-2" role="alert">
      <p>{{message}}</p>
    </div>
{% endfor %}

{% endif %}

<div class="container border  rounded text-center mt-4 shadow-sm" style="background: #ffffff">
    
    <img src="/users/media/{{user.user_image}}" alt="User Image" class="rounded-circle mb-2 mt-2 img-fluid" width="300" height="250">
    <h5 class="text-capitalize mt-3">{{user.user_fname}} {{user.user_lname}}</h5>
    <h6>{{user.user_email}}</h5>
    <h6>{{user.user_department}}</h5>
    <h6>{{user.user_position}}</h5>

    <div class="text-center">
        <div class="btn-group mt-3 mb-3">
            {%if request.user.is_staff%}
            <a href="{%url 'users:edit user' user.id %}" class="btn btn-info" >Edit</a>
            {%if request.user.is_superuser%}
            <a href="{%url 'users:delete user' user.id %}" class="btn btn-danger" onclick="return confirm_delete()">Delete</a>
            {%endif%}   
            <a href="/users/" class="btn btn-success ">Return</a>
            {%endif%}
        </div>
    </div>

</div>


<!-- Scripts -->
<script>
    function confirm_delete() {
        return confirm('Are you sure you want to delete this record?');
    }
</script>




{%endblock%}